debug_level 3
adapter_khz 1000
interface remote_bitbang
remote_bitbang_host localhost
remote_bitbang_port 9999
transport select jtag

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x0c0c5db3

foreach t [jtag names] {
    puts [format "TAP: %s\n" $t]
}

set _TARGETNAME $_CHIPNAME.cpu
set arch riscv:rv32
#set trst_and_srst separate
#target create $_TARGETNAME riscv -chain-position $_TARGETNAME
target create $_TARGETNAME riscv -chain-position $_TARGETNAME -rtos riscv

riscv set_reset_timeout_sec 200
#riscv set_prefer_sba on # prefer to use sba for system bus access

scan_chain # dump jtag chain

init
riscv test_compliance
shutdown
